:root{
    --titulo: rgb(168, 176, 177);
    --posiciontitulos:center;
    --subtitulo: blue;
    --posiciondetexto:justify;
    --tamanio: 
    --margen:
    --union:inline-block;
    --tamaniootexto:
}
*{
    background-color: rgba(16, 16, 90,705);
}

.titulo{
    background-color:rebeccapurple;
}

.Titulo1{
    color: var(--titulo);
    text-align: var(--posiciontitulos);
}

.Redondo{
 width: 100%;
 height: 200vh;
 background: rebeccapurple;
}

.Redondo:hover{
    border-radius: 50%;
}

.margen{
  margin-left: 10%;
  background-color:rebeccapurple;
}

.margen2{
    margin-left: 25%;
    background-color:rebeccapurple;
}

.imagenciencias{
    border-radius: 20%;
}

.imagensociales{
    border-radius: 20%;
}

.imageneca{
    border-radius: 20%;
}

.imageneducacionfisica{
    border-radius: 20%;
    height: 38vh;
}

.imageningles{
    border-radius: 20%;
    height: 32vh;
}

.imagenlengua{
    border-radius: 20%;
    height: 32vh;
}

.imagenmate{
    border-radius: 20%;
}

.palabra{
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra2{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra3{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}
.palabra4{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}
.palabra5{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}
.palabra6{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra7{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra8{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra9{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra10{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra11{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra12{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra13{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra14{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra15{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra16{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra17{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra18{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra19{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra20{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra21{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra22{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra23{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra24{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.palabra25{
    width: 100%;
    height: 80vh;
    background: rgb(233, 104, 104);
    text-align: center;
    font-size: 10em;
    display: none;
}

.bien{
    width: 4%;
    border: none;
    margin-left: 96%;
    display: block;
    background-color: rgb(39, 5, 73);
}

.mal{
    width: 4%;
    border: none;
    margin-left: 96%;
    display: block;
    background-color: rgb(35, 4, 66);
}

.margenb{
    background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  width: 100%;
}

.margenb2{
     background-color: rgb(39, 5, 73);
  display: flex;
  justify-content: center;
  width: 100%;
}

.margenb3{
     background-color: rgb(35, 4, 66);
  display: flex;
  justify-content: center;
  width: 100%;
}

.blanc{
     margin: 0;
     padding: 0;
}


